container_commands:
    01_chmod:
      command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
option_settings:
    aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: noted.settings
      LOG_LEVEL: INFO
      LOG_FILE_PATH: /tmp/django-app.log
    aws:elasticbeanstalk:container:python:
        WSGIPath: noted.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: staticfiles
    aws:elbv2:listener:443:
        ListenerEnabled: 'true'
        Protocol: HTTPS
        SSLCertificateArns: arn:aws:acm:eu-west-2:890051027204:certificate/1e094fe7-d381-45ca-8461-b8ef2d630b3c