container_commands:
    01_chmod:
      command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"

option_settings:
    aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: noted.settings
      LOG_LEVEL: INFO
      LOG_FILE_PATH: /tmp/django-app.log
      AWS_ACCESS_KEY_ID: AKIA46OZM4ECAM2X6GBG
      AWS_SECRET_ACCESS_KEY: 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
      CARDED_SECRET: django-insecure-(j5#5%!7y6c#uy&@bjduof7uu8))bj!8p5l+v2l=hq*v-fz(x0
      CARD_GID: 316539219448-qtvdqd6iban1fbqajma9nbjdq5f75g70.apps.googleusercontent.com
      CARD_GSECRET: hU2SxNFpncWkTzymThwKgLO_
      SG_API_KEY: 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
      FROM_EMAIL: mubrikdev@gmail.com
      adminkey: grespost!110
    aws:elasticbeanstalk:container:python:
        WSGIPath: noted.wsgi:application