container_commands:
    01_chmod:
      command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
    02_chmodfe:
      command: find ./frontend/static/frontend/assets/js -type d -exec chmod 666 {} \;

option_settings:
    aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: noted.settings
      LOG_LEVEL: INFO
      LOG_FILE_PATH: /tmp/django-app.log
      NODE_LOG_PATH: /tmp/node-app.log
    aws:elasticbeanstalk:container:python:
        WSGIPath: noted.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: staticfiles